{% extends 'base.html' %}
{% block style %}

  img {
   
     
  margin:5px;
      border: 5px solid white;
    }

  .box {
  transition: box-shadow .5s;
}
.box:hover {
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2), 10px 12px 25px 10px rgba(0, 0, 0, 0.19);
}
{% endblock style %}
{% block body %}
{% load static %}
<h2 style="color: aliceblue;"> Default Content Images </h2>

<div class="row">
 
  
    <img src="{% static 'media\content\default\taj_mahal.jpg' %}" style="width: 20%;" class="box">
  <img src="{% static 'media\content\default\tubingen.jpg' %}" style="width: 20%;" class="box">
<img src="{% static 'media\content\default\lion.jpg' %}" style="width: 20%;" class="box">
<img src="{% static 'media\content\default\face.jpg' %}" style="width: 20%;" class="box">
</div>
<h2 style="color: aliceblue;"> Uploaded Content Images </h2>

<div class="row">
 {% for i in display %}
  
    <img src="{{ i.content.url }}" style="width: 20%;" class="box">
  
  {% endfor %}
</div>
   {% endblock body %}