{% extends 'base.html' %}
{% block style %}
  .container{
    margin-right:20px;
    margin-top:20px;
    width: 20%;
    float: right;
    background-color:rgb(223, 87, 69);
    color: white;
    font-family: Times New Roman, Times, serif;
    padding-top: 2%;
    padding-left: 2%;
    border: 2px solid;
    padding: 10px;
    position:static;
  

  }
  img {
  position: fixed;
    border-radius: 50%;
    height: 500px;
    width:500px;

    border: 5px solid white;
  }
  .box {
    transition: box-shadow .5s;
  }
  .box:hover {
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2), 10px 12px 25px 10px rgba(0, 0, 0, 0.19);
  }
{% endblock style %}
{% block body %}
  <div class="container">
  <H1 style="float:center">NEURAL</h1><h1 style="float:center;">STYLE</h1><h1 style="float:center;"> TRANSFER</H1>
   <form action="nstimages" method="post" enctype="multipart/form-data">
    {% csrf_token %}
   <div class="custom-file">
        <label class="custom-file-label" for="content"><b>Content Image</b></label>
        <input type="file" value="submit" name="content">
    </div>
    <div class="custom-file">
        <label class="custom-file-label" for="style"><b>Style Image</b></label>
        <input type="file" value="submit" name="style">
    </div>
     {{ form.file }}
      {{ form.as_p }} 
       <button type="submit" class="btn btn-success" style="color:green;height:40px; width:80px">Submit</button>  
        </form>
  </div>

  <img src="https://i.postimg.cc/15bBnxGD/tubingen.png" class="box">
  <img src="https://i.postimg.cc/9fDLgGdH/tubingen-starry-night.png" style="margin-top: 130px; margin-left: 420px; height: 400px; width: 400px;" class="box">
  <img src="https://i.postimg.cc/jSGVvkzb/Q1FKoT.jpg" style="margin-top: 210px; margin-left: 730px; z-index: 2;" class="box">
  
  
  {% endblock body %}