body{
    background-image: url(https://i.postimg.cc/QNnfpKgL/pexels-bryan-gomes-3977529.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  a{
    color:white;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: bold;
    text-shadow: 2px 2px rgb(123,35,28);
    
  }
  
  nav{
      font-family: 'Orbitron', sans-serif;
      background-color: rgb(234,67,53);
      padding-left: 15px;
      box-shadow: 0px 0px 40px 40px rgb(246,177,171);
  }
  .separator {
    width: 20px;
    height: 45px;

    border-left: 3px solid seashell;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
 }
 .nav-link:hover{
  background-color: rgb(197,67,59);
  /* padding: 10px; */
  color: white;
  border-radius: 10%;
  
}
  